#myytplayer{
    opacity: -1;
    height: 0;
    width: 0;
}

ul{
    padding: 0;
    list-style-type: none;
}

.playback-controls .fa{
    margin-left: 20px;
}

.results-result-active{
    background-color: #FFFFFF;
}

.results-result-elapsed-time{
    margin-left: 10px;
}