.results ul{
    padding: 0;
    list-style-type: none;
    font-size: 16px;
}

.results li{
    margin: .1em;
}

.results-result-active{
    background-color: #FFFFFF;
}

.playback-controls{
    margin-left: 20px;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: rgb(55, 196, 224);
    border-radius: 8px 4px 0 0;
    padding: 10px;
    width: 21em;
    height: 5.5em;
}


.playback-controls .fa{
    margin-left: 20px;
    margin: 0.3em;
}


