<div class="jumbotron">
	<div class="form-group">
		<div class="input-group input-group-lg">
		  	<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input type="search" class="form-control" ng-model="term" value="chillstep" ng-enter="search()" ng-focus>
		</div>

	</div>
	<!-- <button class="btn btn-primary" >Search</button> -->

	<script>
	 function onYouTubePlayerReady(playerId) {
			ytplayer = document.getElementById("myytplayer");
		}
	</script>
	
	<div class="playback-controls" ng-show="showControls">	
		<i class="fa fa-step-backward fa-2x"></i>
		<i class="fa {{ playIcon }} fa-2x" ng-click="play()"></i>
		<i class="fa fa-step-forward fa-2x"></i>
		<i class="fa {{ muteIcon }} fa-2x" ng-click="mute()"></i>
	</div>

	<!-- <div class="time" ng-model="elapsedTime">
		{{elapsedTime}}
	</div>
 -->
	<ul class="results">
		<li ng-repeat="song in songs" ng-class="{'results-result-active': song.link[0].href == selected}">
			<a href ng-click="loadSong(song.link[0].href)">{{$index + 1}}. {{song.title.$t}}</a> 
			<span class="results-result-elapsed-time" ng-if="song.link[0].href == selected"> {{elapsedTime}} </span>
		</li>
	</ul>

	<div id="ytapiplayer" ng-model="ytapiplayer">
	</div>
	
</div>

