<script>function onYouTubePlayerReady(playerId) { ytplayer = document.getElementById("myytplayer");}</script>

<div class="jumbotron">

    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" ng-click="search()"><i class="fa fa-search"></i></span>
            <input id="search" type="search" class="form-control" ng-model="term" tubeziq-enter="search()"
                   tubesiq-focus placeholder="Search music">
        </div>
        <p class="help-block">Examples: chillstep, hiphop 2014, bruno mars, maroon 5</p>

    </div>

	<div class="playback-controls" ng-show="showControls">	
		<i class="fa fa-step-backward fa-2x" ng-click="skip('backward')"></i>
		<i class="fa {{ playIcon }} fa-2x" ng-click="play()"></i>
		<i class="fa fa-step-forward fa-2x" ng-click="skip('forward')"></i>
		<i class="fa {{ muteIcon }} fa-2x" ng-click="mute()"></i>
        <span class="results-result-elapsed-time"> {{elapsedTime}} </span>
        <div>{{songTitle}}</div>
	</div>

    <div class="results">
        <ul>
            <li ng-repeat="song in songs" ng-class="{'results-result-active': $index == selectedIndex}">
                <a href ng-click="loadSong($index)">{{$index + 1}}. {{song.title.$t}}</a> 
            </li>
        </ul>
    </div>

	<div id="ytapiplayer" ng-model="ytapiplayer"></div>
	
</div>

