<div id="player"></div>

<!-- Move this <script> in an init() in controller and call in <div ng-init="init()"> -->
<script>
    'use strict';
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var ytplayer;
    function onYouTubeIframeAPIReady() {
        ytplayer = new YT.Player('player', {
            height: '0',
            width: '0',
            videoId: 'M7lc1UVf-VE'
        });
    }
</script>

<div class="jumbotron">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input id="search" type="search" class="form-control" autocomplete="off" ng-model="term"
                   tubeziq-enter="search()" autofocus="true" ng-change="autocomplete()" placeholder="Search music">
        </div>
        <p class="help-block">Examples: chillstep, hiphop 2014, bruno mars, maroon 5</p>

    </div>

    <div class="results">
        <ul>
            <li ng-repeat="song in songs" ng-class="{'results-result-active': $index == selectedIndex}">
                <a href ng-click="loadSong($index)">{{$index + 1}}. {{song.title.$t}}</a>
            </li>
        </ul>
    </div>

    <div class="playback-controls" ng-show="showControls">
        <i class="fa fa-step-backward fa-2x" ng-click="skip(false)" title="Skip backward"></i>
        <i class="fa {{ playIcon }} fa-2x" ng-click="play()" title="Play / Pause"></i>
        <i class="fa fa-step-forward fa-2x" ng-click="skip(true)" title="Skip forward"></i>
        <i class="fa {{ muteIcon }} fa-2x" ng-click="mute()" title="Mute"></i>
        <span tq-slider class="volume-slider" title="Slide to adjust volume"></span>
        <span class="elapsed-time"> {{elapsedTime}} </span>
        <div>{{songTitle}}</div>
    </div>

	<div id="ytapiplayer"></div>
</div>

